<tr class= "restaurant_row">
  <td><%= link_to restaurant.name, restaurant %></td>
  <td><%= restaurant.website %></td>
  <td class= "delete_button", data-confirm="Are you sure?"><%= button_to "delete this restaurant", restaurant_path(restaurant), method: :delete, remote: true %></td>
</tr>


