//alert("You just added a restaurant called <%= @restaurant.name %>")

$('<%= j(render @restaurant) %>').appendTo('tbody');

$('<%= j("<p class='generic_flash notice'>#{flash[:notice]}</p>".html_safe)%>').prependTo('h1');
// the call to j escapes the strings inside the parentheses
// the call to .html_safe prevents Rails from escaping the HTML tags
// which would otherwise change things like <p into &gt;p

// Reset the form fields to blank
// grab inputs that have the attribute name the contains the phrase "rest"
// set the value to an empty string
$('form input[name*=\"rest\"]').val(''); 
