<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>

  <tbody>
    <td><%= render @restaurants %></td>
  </tbody>
</table>
<br>
<br>
<%#= link_to "Add New Restaurant", new_restaurant_path %>
<h1>New Restaurant</h1>

<%= render partial: 'form', locals: { submit_msg: 'Create New Restaurant'} %>
