<center><h1><%= @restaurant.name %></h1></center>
<br>
<br>
<center><h2>Business Hours :</h2></center>
  <style> table, th, td
      {border: 2px solid black; width: 35%; padding: 10px; text-align: center} 
  </style>
<tbody>
    <center><table>
      <tr>
        <th> Days </th>
        <th> Opens </th>
        <th> Closes </th>
      </tr>
        <tr>
          # <% @restaurants.each do |rest| %>

          <td> <%= rest. *DAYS* %> </td>
          <td> <%= rest. *OPENS * %> </td>
          <td> <%= rest. *CLOSES* %> </td>
        </tr>       
          <% end %>    
      </table></center>      
    </tbody>



