<h1><%= @restaurant.name %></h1>
<br>
<br>
<h2>Business Hours :</h2>
  <style> table, th, td
      {border: 2px solid black; width: 35%; padding: 10px; text-align: center} 
  </style>
<table>
  <tbody>
      <tr>
        <th> Days </th>
        <th> Opens </th>
        <th> Closes </th>
      </tr>
      <% @restaurant.hours.each do |key, value| %>
        <tr>
          <td> <%= key %> </td>
          <td> <%= value["Open"] %> </td>
          <td> <%= value["Closed"] %> </td>
        </tr>
      <% end %>       
  </tbody>
</table> 



